.left-profile-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* border: 2px solid red; */
  width: 600px;
  /* height: 150vh; */
  overflow-y: scroll;
}
.left-profile-section::-webkit-scrollbar {
  width: 10px;
}
.left-profile-section::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.left-profile-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.left-profile-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.user-external-link {
  background: #070f2c;
  padding: 5px 20px;
  width: 250px;
  height: 5vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  margin: 10px 0;
}
.user-external-link a {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}
.profile-icon-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  width: 280px;
  height: 40vh;
}

.profile-pic-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  padding: 5px;
}
.user-name {
  margin-top: 5px;
}
.user-name h3 {
  font-weight: 800;
  font-size: 1.2rem;
}
.user-info {
  padding: 8px 0;
}
.info {
  padding: 3px 0;
}
.user-description {
  padding: 5px 0;
}
.user-description p {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* RIGHT SECTION STYLING */

.profile-container {
  display: flex;
  /* flex-wrap: wrap; */
}
@media screen and (max-width: 72.4375em) {
  .profile-container {
    flex-wrap: wrap;
  }
}
.repository-list {
  /* border: 2px solid blue; */
  /* height: 100vh; */
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding-top: 10px;
}
.repository-item {
  /* border: 2px solid red; */
  /* width: 400px; */
  display: flex;
  flex-direction: column;
  background-color: #f1f1e7;
}
.repository-rating {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #fff7d6;
  padding: 5px 10px;
}
.repository-name {
  padding: 5px 10px;
}
.repository-description {
  padding: 10px;
  padding-bottom: 30px;
}
.respository-title {
  padding-top: 10px;
  padding-left: 20px;
}
